<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.automationTest.tests.GoodReadsTest"/>
       <class name="com.automationTest.tests.GoodReadsSignUp"/>
        <class name="com.automationTest.tests.AwardsTest"/>
         <class name="com.automationTest.tests.BooksTest"/>
          <class name="com.automationTest.tests.GenreTest"/>
           <class name="com.automationTest.tests.GroupTest"/>
            <class name="com.automationTest.tests.InviteFriendTest"/>
             <class name="com.automationTest.tests.ReadingChallengeTest"/>
              <class name="com.automationTest.tests.RecommendBookTest"/>
               <class name="com.automationTest.tests.WantToReadTest"/>
               
       
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

